$footer-height: 30px;
$header-menu-height: 60px;
$chart-div-handle-height: 20px;
$normal-chart-div-size: 300px;
$large1-chart-div-height: 300px;
$large1-chart-div-width: 605px;
$large2-chart-div-height: 600px;
$large2-chart-div-width: 1200px;
$large3-chart-div-height: 500px;
$large3-chart-div-width: 980px;
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
div {
    box-sizing: border-box;
}
#app {
    height: 100%;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    background-color: black;
}
// ヘッダー--------------------------------------------------------------------------------------
#header-menu {
    height: $header-menu-height;
    position: fixed;
    width: 100%;
}
// フッター--------------------------------------------------------------------------------------
#footer {
    width: 100%;
    height: $footer-height;
    line-height: $footer-height;
    background-color: #dadada;
    border-top: solid 1px #e6e6e6;
    color: black;
    position: fixed;
    bottom: 0;
    z-index: 1;
}
#footer-inner-left {
    width: 50%;
    padding: 0 10px 10px 10px;
    overflow: auto;
    text-align: left;
    font-size: 14px;
    line-height:18px;
    display: inline-block;
    vertical-align: top;
}
#footer-inner-right {
    width: 50%;
    padding: 0 10px 10px 10px;
    overflow: auto;
    text-align: left;
    font-size: 14px;
    line-height:18px;
    display: inline-block;
    vertical-align: top;
}
.bottom-info-div {
    width:49%;
    display: inline-block;
    vertical-align: top;
}
.bottom-table-div {
    width:49%;
    display: inline-block;
    vertical-align: top;
    padding:0 0 0 10px;
}
.source-table {
    border-collapse: collapse;
    width: 100%;
}
.source-table th {
    font-weight: normal;
    background: #f4f5f8;
    border: solid 1px #dcdfe6;
}
.source-table td {
    background: white;
    border: solid 1px #dcdfe6;
}
.el-table {
    color: black!important;
}
.el-table td, .el-table th {
    padding: 0 0!important;
}
.el-table th {
    color: black!important;
    background: #f4f5f8!important;
}
// サイド----------------------------------------------------------------------------------------
#left-side-div, #right-side-div{
    position: absolute;
    top: $header-menu-height;
    width: 200px;
    height: calc(100vh - #{$header-menu-height} - #{$footer-height});
    background-color: #dadada;
}
#right-side-div {
    right: 0;
    padding-left: 20px;
}
// チャート-------------------------------------------------------------------------------------
#contents {
    position: absolute;
    top: $header-menu-height;
    left: 200px;
    height: calc(100vh - #{$header-menu-height} - #{$footer-height});
    background-color: whitesmoke;
    overflow: auto;
}
#left-chart-div {
    background-color: whitesmoke;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
}
.large3-chart-div, .large2-chart-div, .large1-chart-div, .normal-chart-div {
    margin: 5px 0 0 5px;
    background-color: white;
    border: 1px  solid #d0d0d0;
    display: inline-block;
    vertical-align: top;
    position: relative;
    overflow:hidden;
}
.large3-chart-div {
    height: calc(#{$large3-chart-div-height} + #{$chart-div-handle-height});
    width: $large3-chart-div-width;
}
.large2-chart-div {
    height: calc(#{$large2-chart-div-height} + #{$chart-div-handle-height});
    width: $large2-chart-div-width;
}
.large1-chart-div {
    height: calc(#{$large1-chart-div-height} + #{$chart-div-handle-height});
    width: $large1-chart-div-width;
}
.normal-chart-div {
    height: calc(#{$normal-chart-div-size} + #{$chart-div-handle-height});
    width: $normal-chart-div-size;
}
.chart-div-handle {
    height: $chart-div-handle-height;
    line-height: $chart-div-handle-height;
    background-color: grey;
    color: white;
    font-size: 14px;
    padding-left: 5px;
    cursor: move;
}
.handle-icon {
    margin-left: 5px;
    cursor: pointer;
}
.handle-icon:hover {
    color: #03a9f4;
}
// ツールチップ---------------------------------------------------------------------------------
.d3-tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 5px;
    font-size: 12px;
    background: white;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    visibility: hidden;
    z-index: 1;
}
// IE11対策。余計なツールチップを非表示に----------------------------------------------------
input[type=range]::-ms-tooltip {
    display: none;
}
// トランジション--------------------------------------------------------------------------------
.v-enter-active, .v-leave-active {
    transition: all  0.5s;
    /*transition-delay: 1s;*/
}
.v-enter, .v-leave-to {
    width: 0;
    height: 0;
}
.year-range-text {
    position: absolute;
    top:10px;
    left:30px;
    font-size: 30px;
}
.year-range-div {
    margin-left: 120px;
    width: 50%;
}
.year-range-ticks {
    margin-top: -25px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    padding-right: 8px;
    padding-left: 11px;
}
.year-range-ticks .tick{
    position: relative;
    display: flex;
    justify-content: center;
    width: 1px;
    background: gray;
    height:10px;
    line-height: 40px;
}
.d3-tip {
    font-size: 10px;
    line-height: 1;
    font-weight: normal;
    padding: 6px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    border-radius: 2px;
    pointer-events: none;
    max-width: 200px;
    z-index: 1;
}
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    position: absolute;
    pointer-events: none;
}
/* Northward tooltips */
.d3-tip.n:after {
    content: "\25BC";
    margin: -2px 0 0 0;
    top: 99%;
    left: 0;
    text-align: center;
}
/* Eastward tooltips */
.d3-tip.e:after {
    content: "\25C0";
    margin: -4px 0 0 0;
    top: 50%;
    left: -8px;
}
/* Southward tooltips */
.d3-tip.s:after {
    content: "\25B2";
    margin: 0 0 1px 0;
    top: -8px;
    left: 0;
    text-align: center;
}
/* Westward tooltips */
.d3-tip.w:after {
    content: "\25B6";
    margin: -4px 0 0 -1px;
    top: 50%;
    left: 100%;
}
